.card-content {
	padding: 1rem 1.5rem;
}

form {
	margin-bottom: 0;
}

.card {
	margin-bottom: 2%;
}

.truncate {
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.add-app {
	border: 2px dashed #4a4a4a;
	height: 10%;

	&:hover {
		background-color: #fafafa;
	}
}

.application {
	.icon-container div {
		margin-left: 5px;
	}

	.app-header {
		padding-bottom: 1%;
		padding-top: 1%;
		max-height: 100%;
		//.input {
		//	//height: auto;
		//}
	}

	:not(.input) {
		border: hidden;
	}

	.app-name {
		max-width: 100px;
	}

	.app-desc {
		max-width: 200px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}
}

.hover-pointer:hover {
	cursor: pointer;
}

.plus-icon {
	font-size: 200%;
}

.copyable {
	background-color: #dbdbdb;
	transition: background-color 500ms ease-out;
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.copied {
	background-color: #d9ffc4;

	&:after {
		content: 'Copied!'
	}
}

