nav.navbar.is-transparent
    .container
        .navbar-brand
            a.has-text-weight-bold.navbar-item(href="/") MIKI
        .navbar-menu
            .navbar-end
                a.navbar-item(href="https://github.com/mikibot/miki.bot/wiki") #[i.fab.fa-terminal] &nbsp; Commands
                a.navbar-item(href="/about") #[i.fab.fa-question] &nbsp; About    
                a.navbar-item(href="/donate") #[i.fab.fa-moneybag] &nbsp; Donate
                a.navbar-item(href="https://blog.miki.ai/") #[i.fab.fa-book] &nbsp; Blog

        if loggedIn
            a.navbar-item(href="/profile")
                i.material-icons account_circle
                p Profile
            a.navbar-item(href="/dashboard")
                i.material-icons settings
                p Dashboard