script.
	const toggle = function () {
		document.getElementById('user-nav-dropdown').classList.toggle('is-active')
	};


nav.navbar#global-nav-bar
	.container
		.navbar-brand
			a.navbar-item(href="/")
				p.seperated MIKI
			a.navbar-burger.has-text-centered(data-target="global-nav-menu" aria-label="menu" role="button" aria-expanded="false")
				span
				span
				span
		.navbar-menu#global-nav-menu
			.navbar-end
				a.navbar-item(href="/commands.pug")
					p Commands
				a.navbar-item(href="/about.pug")
					p About
				a.navbar-item(href="/donate.pug")
					p Donate
				a.navbar-item(href="https://blog.miki.ai/")
					p Blog
	script
		include ../../js/navigation.ts