extends templates/base
block page
  - var pageTitle = 'home'

  h1.first dashboard
  include includes/nav
  .content
    h1.controls-title OPTIONS
    .control-option
      div
        h2 nsfw
        p Enables or disables #[strong &gt;nsfw] for your server.
      .switch
        input#a-btn.toggle(type='checkbox')
        label(for='a-btn')

    .control-option
      div
        h2 memes
        p Toggle those stupid memes.
      .switch
        input#another-btn.toggle(type='checkbox')
        label(for='another-btn')
    script.
      $('.toggle').click( function(){
         console.log($(this).is(":checked"));
       });
