footer.footer.has-background-white-ter
	.container
		.columns.is-mobile
			.column
				b Miki
				ul
					li
						a(href="https://blog.miki.ai/") Blog
					li
						a(href="https://suggestions.miki.ai") Ideas
					li
						a(href="https://github.com/velddev/Miki/wiki" target="_blank" rel="noopener") Docs
			.column
				b Legal
				ul
					li
						a(href="/legal.pug") Service
			.column
				b Social
				ul
					li
						a(href="mailto:velddev@gmail.com") Email
					li
						a(href="https://twitter.com/miki_discord" target="_blank" rel="noopener") Twitter
					li
						a(href="https://github.com/mikibot" target="_black" rel="noopener") GitHub
			.column
				b More
				ul
					li
						a(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot" target="_blank" rel="noopener") Discord Invite
					li
						a(href="https://github.com/velddev/Miki/issues" target="_blank" rel="noopener") Issues
					li
						a(href="https://www.patreon.com/mikibot" target="_blank" rel="noopener") Patreon
					li
						a(href="https://discord.gg/39Xpj7K" target="_blank" rel="noopener") Support
