extends templates/base

block page
  .section.hero.is-medium.is-textured
    .container.content
      h1.has-text-light Feeling generous?
      p.has-text-light Miki is a bot that is growing very fast, and to maintain a bot this big I have to take a lot of time from my daily life and focus on improving Miki for you all to enjoy. Therefore I've set up a few ways for you, the user to donate and support Miki.

  .content.is-large.is-vcentered(style="background-color: rgb(236, 108, 88);")
    .container
      h3.has-text-white.is-padded.is-marginless #[i.fab.fa-patreon.seperated] Patreon
  .content.section
    .container
      p Miki uses Patreon as her main source of funding to be able to stay up, functional, and to pay artists, freelancers or designers to keep the platform as high quality as it could possibly be.
      .columns.is-vcentered
        .column
          h4 Extra commands
          p As an active donator you will get access to our more process-expensive commands. These are mostly commands that require on-the-go image manipulation, or multiple requests to external services we can not monitor.
        .column.has-text-right
          img(src="../img/donate/donate_1.png")
      .columns.is-vcentered
        .column
          h4 Doubled daily rewards
          p While you donate to Miki, your daily rewards (+ streaks) will be doubled! This means that instead of 100 mekos, you gain 200. If your streak then would be 20 days, you would make 1,000 mekos that day instead of 500!
        .column.has-text-right
          img(src="../img/donate/donate_2.png")
      .columns.is-vcentered
        .column
          h4 A special achievement
          p Show off your patronage by showing off your cool donator profile badge! Use it to impress your friends!
        .column.has-text-right
          img(src="../img/donate/donate_3.png")
          
      .has-text-centered
        a(href="https://www.patreon.com/bePatron?u=2542689", data-patreon-widget-type="become-patron-button" target="_blank" rel="noopener")
          .button.is-rounded.is-large(style="color: white; background-color: rgb(236, 108, 88);") #[i.fab.fa-patreon] &nbsp; Become a patron

  .content.is-large.is-vcentered(style="background-color: rgb(100, 157, 189);")
    .container
      h3.has-text-white.is-padded.is-marginless #[i.fas.fa-coffee.seperated] Ko-fi
  .content
    .container
      p Not a fan of commitment? No worries, we also support one-time donations with Ko-fi! You get instant rewards if you pass your discord user Id at the end of your message! A fair warning though. You'll be missing out on a handful of features by using Kofi.
      .section.columns
        .column
          h4 No donator chat access
          p As a one-time only donator, you won't get access to the patreon chat.
        .column
          h4 No patreon timeline access
          p I post new polls, interesting bits or posts on Patreon every now and then. And you'll be missing out on these too.
      .section.has-text-centered
        a(href="https://ko-fi.com/velddy" target="_blank" rel="noopener")
          .button.is-rounded.is-large(style="color: white; background-color: rgb(100, 157, 189);") #[i.fas.fa-coffee] &nbsp; Buy me a coffee
