extends templates/base

block page
  section.section.hero.is-medium.miki-bg
    .container
      .columns.is-vcentered
        .column.has-text-centered.content
            h1.title.has-text-white.is-large MIKI
            h2.subtitle
              h3.has-text-grey-lighter Your solution to a great Discord Community!
              div
                a.button.is-large(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot").seperated.is-info
                  p #[i.fab.fa-discord] Invite
                a.button.is-large(href="https://discord.gg/39Xpj7K").seperated.is-outlined.is-white
                  p Support server
        .column.is-hidden-touch.is-hidden-desktop-only
          video(autoplay loop id="landing-video").rounded
            source(src="/img/webms/landing.webm" type="video/webm")
          script
            include ../js/webmvideo.js

  .section.has-background-light
    .container
      h1.title News
      .tile.is-ancestor
        - for (var i = 0; i < 3; i++) {
            .tile.is-child
              a(href="https://blog.miki.ai/#{slides[Math.min(i, slides.length - 1)].slug}")
                p #{slides[Math.min(i, slides.length - 1)].title}
                img(src="https://blog.miki.ai#{slides[Math.min(i, slides.length - 1)].feature_image}")

        - }

  .container
    .columns
        .section.column
          h2.title #[i.fas.fa-users] Community
          .content
            h3 Profiles
            p Customize and show off your amazing little card!
            h3 Role management
            p Buy, earn, or get roles by opting in!
            h3 Achievements
            p The inner completionist inside of you is screaming for 100%-ing this!
            h3 Marriages
            p Everyone deserve a little bit of love!

        .section.column
          h2.title #[i.fas.fa-cogs] Complete server control 
          .content
            h3 Utility
            p Miki's not only just playing around, She can also post reminders, or remove unwanted users.    
            h3 Administration        
            p Cleaning up rooms, banning users. all of these will be properly logged in your audit log!
            h3 Pastas
            p Your free post-it note collection!

    .columns
      .section.column
            h2.title #[i.fas.fa-star-exclamation] Uncover Miki's potential!
            .content
              h3 Experience
              p Whenever users send messages they receive experience points and climb the leaderboards.
              h3 Currency
              p Earn currency by being active and using daily bonuses, become the richest person on your server!
              h3 Minigames
              p Now that you've acquired currency, It's time to bring your newfound riches to the casino and win a game against miki in several games!

      .section.column 
            h2.title #[i.fas.fa-language] Multilingual and more...
            .content
              h3 Multilingual       
              p Our community helped to translate Miki into #[strong 27] languages! From Dutch, Japanese and Russian to Chinese and Polish.
              h3 Dashboards
              p We're also currently working on a website dashboard, so you can control your profile and server settings online!        
              h3 ... and more!
              p We are consistently probing the community for more ideas and suggestions to add to Miki. #[a(href="https://suggestion.miki.ai") Share] yours today! 

    .section.is-vcentered.has-text-centered
      h2.title After all these points, do you really have a reason to not pick Miki for your Discord server?
      div
        a.button.is-large(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot").seperated.is-info
          p #[i.fab.fa-discord] Invite
        a.button.is-large(href="https://discord.gg/39Xpj7K").seperated.is-outlined.is-black
          p Support server