extends templates/base

mixin content
	.section.column
		.content
			block

mixin testimonial(q)
	.column.is-4
		figure.testimonial
			blockquote.has-background-light=q.quote
			.author
				img(src=q.image alt="")
				h5.has-text-black=q.name
				span.has-text-dark=q.desc

block page
	.section.hero.is-middle.is-textured.first
		.hero-body
			.container
				.columns.is-vcentered
					.column.is-5.content
						h1.title.has-text-white.is-spaced MIKI for Discord
						p.subtitle.has-text-white Your solution to a great Discord Community!
						.field.is-grouped
							.control
								a.button.is-large(href="/invite?mikiai").is-info
									p #[i.fab.fa-discord] Invite
							.control
								a.button.is-large.is-white.is-outlined(href="https://discord.gg/39Xpj7K")
									p Support
					.column.is-offset-2.is-10.is-hidden-touch.is-hidden-desktop-only.image
						img.has-shadow.is-smooth(src="../img/landing-image.png" style="border-radius: 15px")#landing-img
	.section.has-background-lighter
		.container
			.has-text-centered
				h2.title Why pick Miki?
				p Miki has already won the hearts of millions of people, and continues to do so with her rich set of functions.

			.columns
				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-user.fa-3x.has-text-primary
						.column
							h1 Community
							p Show off and customize your #[b profiles] with our extensive backgrounds collection. Reward your community with our #[b role rewards], which can use levels, currency, and user input as a trigger to grant them the Discord role! Unleash the inner completionist by collecting all #[b 50+ achievements] and badges. Show your affection with our #[b marriage system], because everyone deserve a little bit of love!

				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-cogs.fa-3x.has-text-primary
						.column
							h1 Complete server control
							p Miki's not only just playing around, She can also post reminders, or remove unwanted users.
							p Cleaning up rooms, banning users. all of these will be properly logged in your audit log!
							p Your free post-it note collection!

			.columns
				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-exclamation.fa-3x.has-text-primary
						.column
							h2.title Uncover Miki's potential!
							p Whenever users send messages they receive experience points and climb the leaderboards.
							p Earn currency by being active and using daily bonuses, become the richest person on your server!
							p Now that you've acquired currency, It's time to bring your newfound riches to the casino and win a game against miki in several games!

				+content()
					.columns
						.column.has-text-centered.is-2
							i.fal.fa-check.fa-3x.has-text-primary
						.column
							h2.title Always improving!
							p Our community is helping us translate Miki into many languages! All from Europe to Asia, all major languages are included!
							p We're also currently working on a website dashboard, so you can control your profile and server settings online!
							p We are consistently probing the community for more ideas and suggestions to add to Miki. #[a(href="https://suggestion.miki.ai") Share] yours today!
	hr
	.section
		.container
			.title-wrapper.has-text-centered
				h2.title.is-2.light-text.is-spaced People love Miki!
				h3.subtitle.is-5 Here are some of our communities actively supporting Miki and her abilities to help your server
				.content-wrapper
					.columns.is-vcentered
						+testimonial({
							quote: "Our server was losing its foundation until Miki came aboard, the community was united with all of its unique features and brought new friendships all-around!",
							image: "https://cdn.miki.ai/web/landing/guilds/guild-kibii.png",
							name: "bin",
							desc: "Kibii TV"
						})
						+testimonial({
							quote: "Miki helps keep the flow of conversations going with her wide variety of fun commands in our server. She's great for small and large servers alike, providing both entertainment and utility!",
							image: "https://cdn.miki.ai/web/landing/guilds/guild-kong.png",
							name: "itsn0tme",
							desc: "Kongregation on Discord"
						})
						+testimonial({
							quote: "With so many customizations and commands, Miki is one of the ultimate utility and fun bots we've seen. And trust me, we've gone through plenty!",
							image: "https://cdn.miki.ai/web/landing/guilds/guild-eso.png",
							name: "SevenFangs",
							desc: "ESO SQUAD"
						})
	
	.section.hero.is-small.has-text-centered.has-background-primary.is-textured
		.hero-body
			h2.has-text-white.title Get started with Miki!
			a.has-shadow.button.is-large(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot").seperated.is-info.is-smooth
				p #[i.fab.fa-discord] Invite Miki!
	script
		include ../js/home.ts