extends templates/base
block page
  .profile-cover
    .profile-title
      h1 Veld
    .profile-image-container
      .profile-image.pink
        span.profile-image-left
          span.profile-image-bar
        span.profile-image-right
          span.profile-image-bar
        .profile-image-value(style="background-image: url('https://i.imgur.com/yZCA7O5.jpg')")
  .content
