extends base

mixin dashmenu()
	p.menu-label Configuration
		ul.menu-list
			li
				block

block page
	style
		include ../../css/dashboard.css
	.container.section
		.columns
			.column.is-3
				aside.menu
					.dropdown#dashboard-guilds-dropdown
						a.button(onclick="document.getElementById('dashboard-guilds-dropdown').classList.toggle('is-active')")
							span.icon.is-small
								img(src="https://via.placeholder.com/250")
							span.seperated=selectedGuild
							span.icon.is-small
								i.fas.fa-angle-down(aria-hidden="true")
						.dropdown-menu
							.dropdown-content
								a.dropdown-item test
				+dashmenu()
					a(href="/dashboard/home") Home
					a(href="/dashboard/permissions") Permissions
					a(href="/dashboard/roles") Roles
					a(href="/dashboard/server") Server
				+dashmenu()
					a(href="/dashboard/applications") Applications
			.column.is-9
				block dashboard
	script
		include ../../js/dashboard.ts
