.footer
    div.footer-more
        div
            h3 MIKI
            p #[strong Miki] is a multi-purpose bot created by #[strong Veld]; written in C# and Javascript running on the #[strong Meru] bot framework.
            br
            p #[strong miki.ai] is running on NodeJS with Jade &amp; SASS on some server far, far away.
        div
            h3 CONTACT
            p For business related queries please email:
            a(href="mailto:velddev@gmail.com") velddev@gmail.com
        div
            h3 SOCIAL
                a(href="https://twitter.com/miki_discord" target="_blank" rel="noopener")
                    i.fab.fa-twitter.fa-2x(aria-hidden="true")
        div
            h3 LINKS
            a(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot" target="_blank" rel="noopener") Invite
            a(href="https://github.com/velddev/Miki/wiki" target="_blank" rel="noopener") Documentation
            a(href="https://github.com/velddev/Miki/issues" target="_blank" rel="noopener") Issues
            a(href="https://www.patreon.com/mikibot" target="_blank" rel="noopener") Patreon
            a(href="https://discord.gg/55sAjsW" target="_blank" rel="noopener") Support
            a(href="https://trello.com/b/SdjIVMtx/miki" target="_blank" rel="noopener") Trello

    div.footer-maintainers
        p.
            Maintained by #[a(href="https://github.com/twentytwoo") twentytwoo]
            and #[a(href="https://github.com/vallode") Vallode]
