.footer
    div.footer-more
        div
            h3 MIKI
            
        div
            h3 CONTACT
            p For business related queries please email:
            a(href="mailto:velddev@gmail.com") velddev@gmail.com
        div
            h3 SOCIAL
                a(href="https://twitter.com/miki_discord" target="_blank" rel="noopener") 
                    i.fab.fa-twitter.fa-1x(aria-hidden="true")
                a(href="https://github.com/mikibot" target="_black" rel="noopener") 
                    i.fab.fa-github.fa-1x(aria-hidden="true")
        div
            h3 LINKS
            a(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot" target="_blank" rel="noopener") Invite
            a(href="https://github.com/velddev/Miki/wiki" target="_blank" rel="noopener") Documentation
            a(href="https://github.com/velddev/Miki/issues" target="_blank" rel="noopener") Issues
            a(href="https://www.patreon.com/mikibot" target="_blank" rel="noopener") Patreon
            a(href="https://discord.gg/55sAjsW" target="_blank" rel="noopener") Support

    div.footer-maintainers
        p.
            Contribute to this website via #[a(href="https://github.com/mikibot/miki.web.frontend") github]!
