footer.footer
    .container
        .content
            .columns
                .column
                    h2 Miki
                    ul 
                        li  
                            a(href="https://blog.miki.ai/") Blog
                        li
                            a(href="https://suggestions.miki.ai") Suggestions
                        li
                            a(href="https://github.com/velddev/Miki/wiki" target="_blank" rel="noopener") Documentation
                .column
                    h2 Legal
                    ul
                        li
                            a(href="/legal") Terms of Service
                .column
                    h2 Social
                    ul
                        li
                            a(href="mailto:velddev@gmail.com") Email
                        li
                            a(href="https://twitter.com/miki_discord" target="_blank" rel="noopener") Twitter
                        li
                            a(href="https://github.com/mikibot" target="_black" rel="noopener") GitHub
                .column
                    h2 More
                    ul
                        li
                            a(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot" target="_blank" rel="noopener") Discord Invite
                        li
                            a(href="https://github.com/velddev/Miki/issues" target="_blank" rel="noopener") Issues
                        li
                            a(href="https://www.patreon.com/mikibot" target="_blank" rel="noopener") Patreon
                        li
                            a(href="https://discord.gg/55sAjsW" target="_blank" rel="noopener") Support
            h4.has-text-centered Contribute to this website via #[a(href="https://github.com/mikibot/miki.web.frontend") github]!
