footer.footer
    .container
        .columns
            .column
                h3 MIKI

            .column
                h3 CONTACT
                p For business related queries please email
                a(href="mailto:velddev@gmail.com") velddev@gmail.com
            .column
                h3 SOCIAL
                a(href="https://twitter.com/miki_discord" target="_blank" rel="noopener") 
                    i.fab.fa-twitter.fa-2x(aria-hidden="true")
                a(href="https://github.com/mikibot" target="_black" rel="noopener") 
                    i.fab.fa-github.fa-2x(aria-hidden="true")
            .column
                h3 LINKS
                ul
                    li  
                        a(href="https://discordapp.com/oauth2/authorize?&client_id=160185389313818624&scope=bot" target="_blank" rel="noopener") Invite
                    li
                        a(href="https://github.com/velddev/Miki/wiki" target="_blank" rel="noopener") Documentation
                    li
                        a(href="https://github.com/velddev/Miki/issues" target="_blank" rel="noopener") Issues
                    li
                        a(href="https://www.patreon.com/mikibot" target="_blank" rel="noopener") Patreon
                    li
                        a(href="https://discord.gg/55sAjsW" target="_blank" rel="noopener") Support
        p.has-text-centered Contribute to this website via #[a(href="https://github.com/mikibot/miki.web.frontend") github]!
