<!-- Meta information -->
meta(charset='utf-8')
meta(name='viewport', content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=no')
meta(name='description', content='Miki, a bot for Discord with the view to make chatting more appealing through gamification and utility!')
meta(property='og:type', content='website')
meta(property='og:title', content='Miki - The Discord Bot')
meta(property='og:description', content='Miki, a bot for Discord with the view to make chatting more appealing through gamification and utility!')
//meta(property='og:image', content='../img/meta_image.jpg')

<!-- Include page setup stuff -->
link(rel='icon', type="image/png", href='../img/favicon.png')
link(rel='stylesheet', type='text/css', href='../css/style.scss')
