<!-- Meta information -->
meta(charset='utf-8')
meta(name='viewport', content='width=device-width initial-scale=1 maximum-scale=1 user-scalable=no')
meta(name='description', content='Miki, a bot for Discord with the view to make chatting more appealing through gamification and utility!')
meta(property='og:type', content='website')
meta(property='og:title', content='Miki - The Discord Bot')
meta(property='og:description', content='Miki, a bot for Discord with the view to make chatting more appealing through gamification and utility!')
meta(property='og:image', content='/img/meta_image.jpg')

<!-- Include page setup stuff -->
link(rel='icon', type="image/png", href='/img/favicon.png')

<!-- Include CSS -->
link(rel='stylesheet', type='text/css', href='/css/style.css')

<!-- Include scripts -->
script(defer src="https://pro.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-DtPgXIYsUR6lLmJK14ZNUi11aAoezQtw4ut26Zwy9/6QXHH8W3+gjrRDT+lHiiW4" crossorigin="anonymous")
